body {
	font-family: Helvetica, Arial, Sans Serif;
	font-size: .9em;
}

.container {
	width: 35em;
	margin: 0 auto;
}

.post {
	white-space: pre-wrap;
	line-height: 1.7em; 
}

.indent {
	display: block;
	margin: 0 0 0 15px;
	border-left: 3px solid #ddd;
	padding-left: 25px;
}

h1 {
	text-align: center;
}

strong {
	font-size: 1.2em;
	padding-bottom: .4em;
	display: inline-block;
}